# Question 1:
- Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.
- Input Format:
 The first line of the input contains an email address.
- Output Format:
Print the company name in single line.
- Example:
- Input:
john@google.com
- Output:
google

In [1]:
def extract_company(email):
    index_of_at = email.find('@')

    return email[index_of_at+1:email.rfind('.')]
e1=str(input("enter the email : "))
res=extract_company(e1)
print("Name of the comapny is -",res)

enter the email : Akshay@Yahoo.com
Name of the comapny is - Yahoo

# Question 2:
- Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.
- Input Format:
The first line of input contains words separated by the comma.
- Output Format:
Print the sorted words separated by the comma.
- Example:
- Input:
without,hello,bag,world
- Output:
bag,hello,without,world

In [2]:
items=[x for x in input("Enter data to sort - ").split(',')]
items.sort()
print ("\nSorted data is -",','.join(items))

Enter data to sort - Apple, Lenovo, Gigabyte, Acer, Dell, HP, MSI, Asus

Sorted data is -  Acer, Asus, Dell, Gigabyte, HP, Lenovo, MSI,Apple

# Question 3:
Create your own Jupyter Notebook for Sets.

Reference link: https://www.w3schools.com/python/python_sets.asp

In [3]:
set1 = {"papaya", "apricot", "kiwi"}
print(set1)

{'kiwi', 'apricot', 'papaya'}

___Access Items___

You cannot access items in a set by referring to an index, since sets are unordered the items has no index.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [4]:
set1 = {"Imperial Blue", "Royal Stag", "Johnnie Walker"}

for x in set1:
  print(x, end = "; ")

Imperial Blue; Royal Stag; Johnnie Walker;

___Change Items___

Once a set is created, you cannot change its items, but you can add new items.

___Add Items___

To add one item to a set use the add() method.
To add more than one item to a set use the update() method.

In [5]:
set1 = {"Mercedes", "Ford", "Aston-Martin"}

set1.add("Bugatti")

print(set1)

{'Ford', 'Aston-Martin', 'Bugatti', 'Mercedes'}

In [6]:
set1 = {"Mercedes", "Ford", "Aston-Martin"}

set1.update(["Renolt", "Volkswagon", "Chevorlet"])

print(set1)

{'Volkswagon', 'Renolt', 'Mercedes', 'Ford', 'Chevorlet', 'Aston-Martin'}

___Get the Length of a Set___

To determine how many items a set has, use the len() method.

In [7]:
set1 = {'Chevorlet', 'Renolt', 'Volkswagon', 'Ford', 'Mercedes', 'Aston-Martin'}

print(len(set1))

6

___Remove Item___

To remove an item in a set, use the remove(), or the discard() method.

In [8]:
set1 = {"Instagram", "Facebook", "Youtube", "Tik-tok"}

set1.remove("Tik-tok")

print(set1)

{'Youtube', 'Facebook', 'Instagram'}

In [9]:
set1 = {"Instagram", "Facebook", "Youtube", "Tik-tok"}

set1.discard("Tik-tok")

print(set1)

{'Youtube', 'Facebook', 'Instagram'}

___pop()___

You can also use the pop(), method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.

In [10]:
set1 = {"kannada", "telugu", "tamil", "hindi", "english"}

x = set1.pop()

print(x)

print(set1)

tamil
{'english', 'hindi', 'kannada', 'telugu'}

___clear()___
The clear() method empties the set:

In [11]:
set1 = {"ravana", "kamsa", "duryodhan", "dushasana"}

set1.clear()

print(set1)

set()

The del keyword will delete the set completely:

In [12]:
set1 = {"dushman", "vairi", "shatru"}

del set1

print(set1)

NameError: name 'set1' is not defined

___Join Two Sets___

There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [13]:
set1 = {"Commando", "Housefull" , "Golmaal"}
set2 = {"Grude", "Lake Placid","Alladin" }

set3 = set1.union(set2)
print(set3)

{'Alladin', 'Commando', 'Grude', 'Golmaal', 'Lake Placid', 'Housefull'}

In [14]:
set1 = {'abc','bcd','wii'}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{'abc', 1, 2, 3, 'bcd', 'wii'}

___The set() Constructor___

It is also possible to use the set() constructor to make a set.

In [15]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'apple', 'banana'}

___copy() Method___

In [16]:
watches = {"Fastrack", "Titan", "Casio"}
x = watches.copy()
print("x =",x)

x = {'Titan', 'Fastrack', 'Casio'}

___Set difference_update() Method___

In [17]:
x = {"Mac OS", "Linux", "Ubuntu"}
y = {"Windows", "Android", "Linux"}
x.difference_update(y)
print(x)

{'Ubuntu', 'Mac OS'}

___intersection() Method___

In [18]:
x = {"apple", "pineapple", "cranberry"}
y = {"sugar bear", "apple", "blueberry"}
z = x.intersection(y)
print(z)

{'apple'}

___isdisjoint() Method___

In [19]:
x = {"apple", "papaya", "berry"}
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y)
print(z)

True

___symmetric_difference()___

In [20]:
x = {"apple", "banana", "cherry"}
y = {"cisco", "bosch", "apple"}
z = x.symmetric_difference(y)
print(z)

{'cherry', 'banana', 'bosch', 'cisco'}

# Question 4:
- Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
- Input Format:
The first line contains n-1 numbers with each number separated by a space.
- Output Format:
Print the missing number
- Example:
*    Input:1 2 4 6 3 7 8
*    Output:5
- Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [21]:
def find_missing(lst): 
    return [x for x in range(lst[0], lst[-1]+1)  
                               if x not in lst] 
  
# Driver code 
lst = [10, 21, 23, 27, 30, 33, 35] 
print(find_missing(lst))

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 24, 25, 26, 28, 29, 31, 32, 34]

# Question 5:
- With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
- Example:
- If the input list is
12 24 35 24 88 120 155 88 120 155
- Then the output should be
12 24 35 88 120 155
- Explanation:
- Third, seventh and ninth element of the list L has been removed because it was already present.
- Input Format:
- In one line take the elements of the list L with each element separated by a space.
- Output Format:
- Print the elements of the modified list in one line with each element separated by a space.
- Example:
- Input: 12 24 35 24
- Output:
12 24 35

In [22]:
def Remove(duplicate): 
    final_list = [] 
    for num in duplicate: 
        if num not in final_list: 
            final_list.append(num) 
    return final_list 
      
# Driver Code
duplicate = [2,7,57,98,57,2,23,4,23,98] 
print(duplicate) 
print(Remove(duplicate))

[2, 7, 57, 98, 57, 2, 23, 4, 23, 98]
[2, 7, 57, 98, 23, 4]